
html
  head
    meta(charset='utf-8')
    title Menu App
    // Google web fonts
    link(href='http://fonts.googleapis.com/css?family=PT+Sans:400,700', rel='stylesheet')
    // CSS file
    link(href='http://localhost:3000/static/css/style.css', rel='stylesheet')
  body
    h1 SVCC Auth!
    p
      | Welcome to the SVCC Auth! home page.  Please
      a(href='/register') register
      |  or 
      a(href='/login') login
      |  to continue!
