html
  body
    nav.main
      div.push
        | Please Login or Sign-up to view our menu
      ul.services
        li
          a(href='/login')
            |  Login
        li
          a(href='/register')
            |  Sign-Up
      
