html
  body
    nav
      ul
        li
          a(href='/register')
            i.icon-home
            |  Sign-Up
        li
          a(href='/login')
            i.icon-user
            |  Login
