html
  head
    link(href='http://localhost:3000/static/css/style.css', rel='stylesheet')
  body
    div.main
      form(method='post')
        ul.services
          h1.push Create an Account
          span First Name:
          input.new(type='text', name='firstName', placeholder='Your name..', required='required')
          br
          span Last Name:
          input.new(type='text', name='lastName', placeholder='Your lastname..', required='required')
          br
          span Email:
          input.new(type='email', name='email', placeholder='Your email..', required='required')
          br
          span Password:
          input.new(type='password', name='password', placeholder='Your password..', required='required')
          br
          span Address:
          input.new(type='text', name='address', placeholder='Your address..', required='required')
          br
          input.new(type='submit')